* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

#header {
  .title {
    font-size: 60px;
  }
}

#main {
  .Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .LeftContent {
      .headContent {
        span {
          font-size: 30px;
          margin-right: 50px;
        }
      }
    }
  }
}
